*{
  font-family: 'Quicksand', sans-serif;
}
body{
  padding: 0;
  border: 0;
  margin: 0;

}
.header{
  padding-left: 30px;
}

header{
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top:0;
  left:0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
container{
  display: flex;
  justify-content: flex-start;
  align-items:

  height:90%;
  width :200px;
  margin: 10px;
}
container h2{
width :70px;
}
.apple_svg{
  fill : white;
  height: 30px;
  width : 30px;
  margin-top: 5px;
  transition: transform .5s;
}
.apple_svg:hover{
  transform: scale(1.4);
}
nav{
  display: flex;
  justify-content: space-between;
  height:90%;
  width :200px;
  margin: 10px;
}
.nav_svg{
  fill : white;
  height: 30px;
  width : 30px;
  transition: transform .3s;
}
.nav_svg:hover{
  transform: scale(1.5);
  /* fill : #C41BFE; */
}

section{
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: center;
    background-color: #518982;
    background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/background-photo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
  }
h1,h2{

  text-align: center;
  color: white;
}
h1{
  font-weight: lighter;
}
h2{
  font-size: 0.8rem;
}
h2.two{
  font-weight: normal;
}
button{
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
    transition: transform .4s;
}
button:hover{
transform: scale(1.2);
box-shadow: 1px 1px 4px;
}
