.c1{
  background-image: url("C:/Users/Salma/Downloads/22975748.jpg");
}
.c2{
  background-image: url("C:/Users/Salma/Downloads/22975748.jpg");
}
.c3{
  background-image: url("C:/Users/Salma/Downloads/22975748.jpg");
}
.c4{
  background-image: url("C:/Users/Salma/Downloads/22975748.jpg");
}
