.c1{
  order: 4;
width: 100%;
}
.c2{
  order: 7;
  width: 50%;
}
.c3{
  order: 2;
  width: 50%;
}
.c4{
  order: 6;
  width: 50%;
}
.c5{order: 3;
  width: 50%;
}
.c6{
  order: 1;
  width: 50%;
}
.c7{
  order: 5;
  width: 50%;
}
