*{
  padding: 0;
  border: 0;
  margin:0;
  box-sizing: border-box;
}
html , body ,div {
  padding: 0;
  border: 0;
  margin:0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
body{
  height: 100vh;
}
section{
  display: flex;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;

}
div.d1a{
  padding: 20px;
  width:33%
}
div.d2a{
  height: 30px;
  background-color: lightgrey;
  border-top:2px solid grey;
  border-radius: 0 0 5px 5px;
}
div.d1b{
  padding: 20px;
    width:33%
}
div.d2b{
  height: 30px;
  background-color: lightgrey;
  border-top:2px solid grey;
  border-radius: 0 0 5px 5px;
}
div.d1c{
  padding: 20px;
  width:33%
}

div.d2c{
  height: 30px;
  background-color: lightgrey;
  border-top:2px solid grey;
  border-radius: 0 0 5px 5px;
}
.svg{
  height: 150px;
  fill:lightgrey;
}
p{
  font-size: 1.2rem;
  color: grey;
  padding: 10px;
}
.cost{
  color: grey;
  font-family: sans-serif;
  font-weight: bolder;
}
