div {
    background-size: cover;
    background-repeat: no-repeat;
}
.c1{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/1.png");
}
.c2{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/2.jpg");
}
.c3{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/3.jpg");
}
.c4{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/4.jpg");
}
.c5{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/5.png");
}
.c6{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/6.jpg");
}
.c7{
background-image: url("C:/Users/Salma/Documents/GitHub/html_css_udemy/998_images/7.jpg");
}
