.c1{

background-color: violet;
}
.c2{

  background-color: indigo;}
.c3{

  background-color: blue;
}
.c4{

  background-color: green;
}
.c5{

  background-color: yellow;
}
.c6{

  background-color: orange;
}
.c7{

  background-color: red;
}
